.chatScreen__timestamp{
    align-items: center;
    text-align: center;
    color: gray;
    padding: 20px;
}
.chatScreen__message{
    display: flex;
    align-items: center;
    padding: 20px;
}
.chatScreen__text{
    background-color: lightgray;
    margin-left: 10px;
    border-radius: 20px;
    padding: 15px;
}
.chatScreen__textUser{
    margin-left: auto;
    background-color: #29b3cd;
    padding: 20px;
    border-radius: 20px;
    color: white;
}
.chatScreen__input{
    display: flex;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid lightgray;
}
.chatScreen_inputField{
    flex: 1;
    padding: 10px;
    border: none;    
}
.chatScreen_inputButton{
    border: none;
    margin-right: 20px;
    background-color: white;
    font-weight: bolder;
    color: #fe3d71;
}
